<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:task="http://www.springframework.org/schema/task"        
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
 
 	<context:annotation-config />
 	
 	<context:property-placeholder location="application.properties"/>
 	
 	<bean id="nodeManagementService" class="at.onion.directorynodeCore.nodeManagementService.SimpleNodeManagementService"/>
 	
 	 <bean id="chainGeneratorService" class="at.onion.directorynodeCore.chainGernatorService.SimpleChainGeneratorService">
 		<property name="nodeManagementService" ref="nodeManagementService"/>
 	</bean>
 	
 	 <bean id="nodeInstanceService" class="at.onion.directorynodeCore.nodeInstanceService.SimpleNodeInstanceService">
 	</bean>
 	
 	<!-- NodeAliveController and execution scheduler -->
 	<bean id="nodeAliveController" class="at.onion.directorynodeCore.nodeAliveController.SimpleNodeAliveController">
 		<property name="nodeManagementService" ref="nodeManagementService"/>
 		<property name="nodeInstanceService" ref="nodeInstanceService"/>
 	</bean>
 	
 	<task:scheduled-tasks>
 			<task:scheduled ref="nodeAliveController" method="execute" fixed-rate="${nodeAlive.executeOfflineNodeCheckIntervallInMS}"/> 		
 	</task:scheduled-tasks>

 	
 	<!-- TCP Server -->
 	<bean id="nodeServer" class="at.onion.directorynodeCore.nodeServer.NodeServer">
 		<property name="chainGeneratorService" ref="chainGeneratorService"/>
 		<property name="nodeManagementService" ref="nodeManagementService"/>
 		<property name="threadPool" ref="nodeServerThreadPool"/>
 	</bean>
 	
 	<bean id="nodeServerThreadPool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
	    <property name="corePoolSize" value="${requestServer.threadPool.corePoolSize}" />
	    <property name="maxPoolSize" value="${requestServer.threadPool.maxPoolSize}" />
	    <property name="queueCapacity" value="${requestServer.threadPool.queueCapacity}" />
	</bean>
 
</beans>